#countdown {
  width: 465px;
  height: 152px;
  text-align: center;
  /* background: #222; */
  
  margin: auto;
  padding: 24px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* #countdown:before {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  left: -10px;
}

#countdown:after {
  content: "";
  width: 8px;
  height: 65px;
  background: #444;
  background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
  background-image: -moz-linear-gradient(top, #555, #444, #444, #555);
  background-image: -ms-linear-gradient(top, #555, #444, #444, #555);
  background-image: -o-linear-gradient(top, #555, #444, #444, #555);
  border: 1px solid #111;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  display: block;
  position: absolute;
  top: 48px;
  right: -10px;
} */

#countdown #tiles {
  position: relative;
  z-index: 1;
}

#countdown #tiles > span {
  width: 92px;
  max-width: 92px;
  font: bold 48px "Droid Sans", Arial, sans-serif;
  text-align: center;
  color: #111;

  background: -webkit-linear-gradient(white, #191D4C);

  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 18px 0;
  display: inline-block;
  position: relative;
}

#countdown #tiles > span:before {
  content: "";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%;
  left: -3px;
  z-index: -1;
}

#countdown #tiles > span:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%;
  left: 0;
}

#countdown .labels {
  width: 100%;
  height: 25px;
  text-align: center;
  bottom: 8px;
}

#countdown .labels li {
  width: 102px;
  font-family: "lato", sans-serif;
  font-weight: 500 !important;
  background: -webkit-linear-gradient(white, #38495a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  /* margin-top: 3px; */
}
@media screen and (max-width: 768px)
{
  #countdown {
    width: 80%;
    height: 20%;
}#countdown #tiles {
  position: relative;
  z-index: 1;
}
#countdown #tiles > span {
  width: 62px;
  max-width: 92px;
  height: 62px;
  margin: 0 4px;
  padding: 12px 0;
  font: bold 35px "Droid Sans", Arial, sans-serif;

}#countdown .labels li {
  width: 72px;
  font-family: "lato", sans-serif;
  font-weight: 300 !important;
  letter-spacing: 3px;}
  #countdown #tiles > span:before {
    content: "";
    width: 100%;
    height: 10px;
    background: #111;
    display: block;
    padding: 0 3px;
    position: absolute;
    top: 31%;
    left: -3px;
    z-index: -1;
  }
  
  #countdown #tiles > span:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #eee;
    border-top: 1px solid #333;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }#countdown .labels {
    width: 100%;
    height: 20px;
    text-align: center;
    bottom: 8px;
  }}
  @media screen and (max-width: 468px)
  {
    #countdown {
      width: 80%;
      height: 20%;
  }#countdown #tiles {
    position: relative;
    z-index: 1;
  }
  #countdown #tiles > span {
    width: 42px;
    max-width: 92px;
    height: 42px;
    font: bold 20px "Droid Sans", Arial, sans-serif;

  
  }
    #countdown #tiles > span:before {
      content: "";
      width: 100%;
      height: 10px;
      background: #111;
      display: block;
      padding: 0 3px;
      position: absolute;
      top: 31%;
      left: -3px;
      z-index: -1;
    }
    
    #countdown #tiles > span:after {
      content: "";
      width: 100%;
      height: 1px;
      background: #eee;
      border-top: 1px solid #333;
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
    }#countdown .labels {
      width: 100%;
      height: 10px;
      top:72px;
      text-align: center;
      /* bottom: 4px; */
    }#countdown .labels li {
      width: 52px;
      font-size:9px;
      font-family: "lato", sans-serif;
      font-weight: 200 !important;
      letter-spacing: 3px;}}


  